body {
    font-family: "Segoe UI",Arial,sans-serif;
    color: #333;
}

.best-header {
    text-align: center;
}

.best-title {

}

.best-subtitle {
    font-size: 14px;
    font-weight: normal;
}

.best-pokemon-list {
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 5px;
    width: 200px;
}

#xPokemonImage .best-pokemon-image {
    height: 80px;
}

.best-opponent-list {
    list-style: none;
    padding: 10px;
    margin: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
}

.best-opponent-list li {
    display: inline-block;
    border: 1px solid #ddd;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 8px;
    color: #666;
}

.best-pokemon-data {
    display: inline-block;
    width: 110px;
}

.best-pokemon-name {
    font-weight: 600;
}

.best-pokemon-image {
    width: auto;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.best-moves {
    display: inline-block;
    text-align: left;
}

.best-move-name {
    display: inline-block;
    min-width: 100px;
    font-size: 12px;
}

.best-move-power {
    display: inline-block;
    min-width: 30px;
    font-size: 12px;
    font-weight: 600;
    text-align: right;
    padding-right: 20px;
}

.best-move-image {
    display: inline-block;
    width: 80px;
    height: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.best-move-image.energy-1 {
    background-image: url('images/Energy1_GO.png');
}

.best-move-image.energy-2 {
    background-image: url('images/Energy2_GO.png');
}

.best-move-image.energy-3 {
    background-image: url('images/Energy3_GO.png');
}

@media only screen and (max-width: 639px) and (min-width: 320px) {
    .best-opponent-list {
        padding: 5px;
    }
    
    .best-opponent-list li {
        display: block;
    }

    .best-pokemon-data {
        max-width: 85px;
        vertical-align: middle;
    }

    .best-moves {
        vertical-align: middle;
    }

    .best-move-image {
        display: block;
    }

    .best-pokemon-name {
        font-size: 14px;
    }
}
