body {
    font-family: "Segoe UI",Arial,sans-serif;
    color: #333;
}

.pokedex-header {
    text-align: center;
}

.pokedex-new {
    text-align: center;
}

.pokedex-content {
    text-align: center;
}

.best-link {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('images/battleLink.png');
}

.pokedex-title {

}

.pokedex-subtitle {
    font-size: 14px;
    font-weight: normal;
}

.pokedex-new-list {
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 5px;
    width: 200px;
}

.pokedex-block {
    margin: 10px !important;
    border: 2px solid #ddd;
    border-radius: 8px;
}

.pokedex-list {
    margin: 0;
    padding: 10px;
    list-style: none;
}

.pokedex-list li {
    position: relative;
    display: inline-block;
    border: 1px solid #ddd;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 8px;
    color: #666;
    background: #fafafa;
    cursor: pointer;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: calc(100% + 10px) 50%;
    background-image: url('images/removeItem.png');
}

.pokedex-list li.new-pokemon {
    background-image: url('images/addItem.png');
}

.pokedex-pokemon-data {
    display: inline-block;
    width: 110px;
}

.pokedex-pokemon-name {
    font-weight: 600;
}

.new-pokemon .pokedex-pokemon-name {
    font-size: 14px;
}

.pokedex-pokemon-image {
    width: auto;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /*opacity: 0.25;*/
}

.new-pokemon .pokedex-pokemon-image {
    height: 40px;
}

.pokedex-moves {
    display: inline-block;
    text-align: left;
}

.pokedex-move-name {
    display: inline-block;
    min-width: 100px;
    font-size: 12px;
}

.pokedex-move-power {
    display: inline-block;
    min-width: 30px;
    font-size: 12px;
    font-weight: 600;
    text-align: right;
    padding-right: 20px;
}

.pokedex-move-image {
    display: inline-block;
    width: 80px;
    height: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.pokedex-move-image.energy-1 {
    background-image: url('images/Energy1_GO.png');
}

.pokedex-move-image.energy-2 {
    background-image: url('images/Energy2_GO.png');
}

.pokedex-move-image.energy-3 {
    background-image: url('images/Energy3_GO.png');
}

@media only screen and (max-width: 639px) and (min-width: 320px) {
    .pokedex-list {
        padding: 5px;
    }
    
    .pokedex-list li {
        display: block;
    }

    .pokedex-pokemon-data {
        max-width: 85px;
        vertical-align: middle;
    }

    .pokedex-moves {
        vertical-align: middle;
    }

    .pokedex-move-image {
        display: block;
    }

    .pokedex-pokemon-name {
        font-size: 14px;
    }
}
